span {
    color:red;
    margin-left: 100px;
}

body{
    background-image: url("bg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    font-weight: bolder;
    color:palevioletred;
}
nav{
    display:block;
    width: 300px;
    height: auto;
    background-color: beige;    
    border: 1px solid #dedede;
    border-radius: 100px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 8px 22px 8px 22px;
    overflow: hidden;
    width: 100%; 
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    height: 20px;
    width: 20px;
    overflow: hidden; 
}
.MyImage{
    display: block;
    margin: 0 auto;
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    }
   p{
       text-align: justify;
       margin:1px 300px;
   }
   
   .skills{
       text-align: center;
       margin:200px 300px 200px 400px;
            
       
   }
   .blogs{
    text-align: center;
    margin:100px 200px;
    color:black;      
    
}
.footer{
    text-align: center;
    color:black;
}
